@import "@styles/keyframes";

.user {
	margin-inline: auto;
	padding-block: rem(15);
	display: flex;
	align-items: center;
	gap: rem(10);
}

.avatar {
	width: rem(26);
	height: rem(26);
	border-radius: 50%;
	background-color: #888;
}

.username {
	font-size: rem(18);
	text-shadow: var(--text-neon-shadow-lg);
}

.pageWrapper {
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border-top-left-radius: rem(50);
	border-top-right-radius: rem(50);
	background: var(--kt-background-gradient);
}

.animate {
	flex-grow: 1;
	display: flex;
	animation: fade-up .25s ease-in-out forwards;
}
