// отступ безопасности
$main-offset: 15;

// максимальная ширина страницы
$max-width: 768;

// минимальная ширина телефона
$min-width: 375;

// ширина контейнера из макета todo: уточнить
$container-width: 450;

// ширина контейнера с учетом padding слева и справа
$max-width-container: $container-width + ($main-offset * 2);
